doctype html
htmls
  head
    title
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='/stylesheets/icons.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/materialize.min.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/materialize.min.js')
    script(type='text/javascript', src='/javascripts/init.js')

  body(style="background: url(images/fondo.jpg); background-repeat: repeat;")
    header
      .navbar-fixed
        nav
          .nav-wrapper.red
            .container
              a.brand-logo(href='/')
               img.responsive-img.transparent.circle(src='../images/logo.jpeg', alt='R',width='64')
    main
      block content

    footer.page-footer.red
      .container.center
        a.btn-floating.circle.white(href='https://www.facebook.com/choseat/')
          img.responsive-img(src='https://cdn.icon-icons.com/icons2/836/PNG/512/Facebook_icon-icons.com_66805.png')
        a.btn-floating.circle.white(href='https://twitter.com/ChoseatWeb')
          img.responsive-img(src='https://cdn.icon-icons.com/icons2/555/PNG/512/twitter_icon-icons.com_53611.png')
        a.btn-floating.circle.white(href='https://www.instagram.com/choseat.web')
          img.responsive-img(src='https://cdn.icon-icons.com/icons2/1211/PNG/512/1491580658-yumminkysocialmedia06_83104.png')
      .footer-copyright.red
        .container.center
          Copyright &copy 2018 Choseat. Todos los derechos reservados.