extends layout

block content
  .container
    .section
      h3 Misión
      .divider
      .card-panel.transparent
        h5 Somos una empresa Oaxaqueña comprometida y responsable, sustentada en valores y principios encargada de anunciar servicios restauranteros de calidad bajo condiciones seguras y agradables.
    .section
      h3 Visión
      .divider
      .card-panel.transparent
        h5 Hacer de nuestra empresa una organización líder, difundiendo el profesionalismo de quienes la integran, ostentando la calidez humana como virtud principal y consolidarnos en el mercado oaxaqueño como uno de las mejores páginas web de consulta de Restaurantes.
    .section.center
      h3 Contacto
      .divider
      h4: i.material-icons.medium contact_mail
      h5.grey-text  choseat.web@gmail.com
        




