extends layout

block content
  .container
    .row
      .col.s12.m4
        .card.center.hoverable
          ul.collection.with-header
            li.collection-header.orange
              h5 PAQUETE 1
            li.collection-item.orange.lighten-3 Perfil Personalizado
            li.collection-item.orange.lighten-3 Clasificación de restaurante
            li.collection-item.orange.lighten-3 Reservacion
            li.collection-item.orange.lighten-3.red-text 30 Dias gratis
            li.collection-item.orange.lighten-3
              h5 $ 2,022.00 Mx
              span.gray-text  3 MESES
            li.collection-item.orange.lighten-3
              a.btn.red(href='/count/new_restaurantCount') SUBSCRIBIR AHORA

      .col.s12.m4
        .card.center.hoverable
          ul.collection.with-header
            li.collection-header.blue.lighten-3
              h5 PAQUETE 2
            li.collection-item.blue.lighten-4 Perfil Personalizado
            li.collection-item.blue.lighten-4 Clasificación de restaurante
            li.collection-item.blue.lighten-4 Reservacion
            li.collection-item.blue.lighten-4.red-text 30 Dias gratis
            li.collection-item.blue.lighten-4
              h5 $ 4897.00 Mx
              span.gray-text 6 MESES
            li.collection-item.blue.lighten-4
              a.btn.red(href='/count/new_restaurantCount') SUBSCRIBIR AHORA

      .col.s12.m4
        .card.center.hoverable
          ul.collection.with-header
            li.collection-header.light-green
              h5 PAQUETE 3
            li.collection-item.light-green.lighten-3 Perfil Personalizado
            li.collection-item.light-green.lighten-3 Clasificación de restaurante
            li.collection-item.light-green.lighten-3 Reservacion
            li.collection-item.light-green.lighten-3.red-text 30 Dias gratis
            li.collection-item.light-green.lighten-3
              h5 $ 7,453.00 Mx
              span.gray-text 1 AÑO
            li.collection-item.light-green.lighten-3
              a.btn.red(href='/count/new_restaurantCount') SUBSCRIBIR AHORA




