extends layout

block content
  form(method='post',action='/count/newRestaurant')
    .row
      .card.col.s12
        .card-content
          .card-title Crear una cuenta Subscriptor Restaurante
          .row
            p Su cuenta le da acceso a promociones, descuentos y funciones avanzadas.
            |¿Ya tiene una cuenta Choseat
            a(href='/login')  Inicie sesión aquí.
          .row
            .card.col.s12.m7
              .card-content
                .card-title Datos de Restaurante
                #{alert}  #{text}
                .input-field.col.s12.m5
                  input(type='text',name='nombreRestaurant',required,autofocus)
                  label Nombre:
                .input-field.col.s12.m7
                  input(type='text',name='descripcion',required,pattern='[A-Za-z]+',autofocus)
                  label Descripción:
                .input-field.col.s12.m7
                  input(type='text',name='direccion',required,autofocus)
                  label Dirección:
                .input-field.col.s12.m5
                  select.validate(name='clasificacion',required)
                      option(value='', disabled, selected) Seleccionar
                      option Comida Tradicional
                      option Comida Rápida
                      option Marisqueria
                      option Comida Extranjera
                  label Clasificación:
                .card.col.s12
                  .card-content
                    .card-title Datos de Subscriptor
                    .input-field.col.s12.m5
                      input(type='text',name='nombre',required,pattern='[A-Za-z]+',autofocus)
                      label Nombre:
                    .input-field.col.s12.m7
                      input(type='text',name='apellidos',required,pattern='[A-Za-z]+',autofocus)
                      label Apellidos:
                    .input-field.col.s12
                      input(type='text',name='domicilio',required,autofocus)
                      label Domicilio:
                    .input-field.col.s12.m5
                      input(type='text',name='tel',required,pattern='[0-9]+',maxlength='10',autofocus)
                      label Teléfono:
                    .input-field.col.s12.m4
                      input.datepicker(type='text',name='fecha_nac',required,autofocus)
                      label Fecha de Nacimiento:
                    .input-field.col.s12.m6
                      #{alert}  #{text}
                      i.material-icons.prefix email
                      input.validate#email(type='email', name='inputEmail', autofocus, required)
                      label(for='email') Correo Electronico:
                      span.helper-text(data-error='formato de correo electronico incorrecto' data-success='correcto')
                    .input-field.col.s12.m6
                      input.form-control(type='password',name='password',required,autofocus)
                      label Contraseña:
            .card.col.s12.m5
              .card-content
                .card-title Datos de pago de subscripción
                .input-field.col.s12.m5
                  input(type='text',name='tarjeta',required,pattern='[0-9]+',maxlength='16',autofocus)
                  label Num. Tarjeta:
                .input-field.col.s12.m7
                  input(type='text',name='titular',required,pattern='[A-Za-z]+',autofocus)
                  label Nombre de Titular:
                .input-field.col.s12.m6
                  input.datepicker(type='text',name='fecha_cad',required,autofocus)
                  label Fecha de Vencimiento:
                .input-field.col.s12.m6
                  input(type='text',name='cvc',required,pattern='[0-9]+',maxlength='3',autofocus)
                  label CVC:
          .row
            .col.s12
               input.filled-in#acuerdo(type='checkbox',value='acuerdo', required)
               label(for='acuerdo') Doy mi consentimiento para la utilización de los datos por parte de nombre de app expuestas en su Declaraciones de privacidad y a las condiciones expresadas en su Acuerdo de licencia de usuario final.
        .card-action.center
          button.btn.waves-effect.waves-light.green.darken-1(type='submit') Crear cuenta