extends layout

block content
  h4 Cupones
    .row
      .col.s12.m6.right
        if alert.success
          h5.chip.white.green-text.text-accent-4.righ#alert #{alert.success}
            i.close.right.material-icons close
        if alert.error
          h5.chip.white.red-text.text-accent-4.right#alert #{alert.error}
            i.close.material-icons.right close
  .row
    .card-panel.col.s12
      form#formModificar.center(method='post',action='/adminRestaurant/add_cupon', enctype='multipart/form-data')
        .input-field.col.s12.m3
          input.datepicker(type='text',name='vigencia',required)
          label Vigencia:
        .input-field.col.s12.m6
          .file-field.input-field
            .btn.blue
              input(type='file',name='imagenUp')
              | Imagen cupon
            .file-path-wrapper
              input.file-path.validate(type='text',required)
        button.btn.green.darken-1(type='submit') Agregar
  .row
    each item in dataCou
      .col.s12.m6.l4
        .card.medium 
          .card-image
            img.materialboxed(src='../images/cupones/'+item.imagen,alt='Cupon')
          .card-content
            span.card-title.activator.grey-text.text-darken-4 Cupon de regalo
            p Generado el #{item.emision}
            p Vigente hasta #{item.vigencia}
            p Descubre el contenido del cupon con tu celular.
